[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
pyjwt = "*"
flask-migrate = "*"
flask-cors = "*"
gunicorn = "*"
eventlet = "*"
flask-restplus = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.7"
